// Here you can add other styles
.text-style {
    color: #666666;
    width: fit-content;
    margin-inline: auto;
}

.filterContainer {
    margin-top: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navbarClass {
    align-items: center;
    justify-content: center;
}

.linkBorder {
    // border-left: 1px solid #9b9b9b;
    // margin-left: 10px;
    font-size: 20px;
}